name: Build, test and push latest Docker Image

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Docker workflow
        id: docker_setup
        uses: ./.github/actions/docker-setup

      - name: Build Docker test image
        uses: docker/build-push-action@v6
        with:
          context: .
          target: test
          load: true
          tags: workflow-ocr-backend-test
          
      - name: Run Tests
        run: | 
              docker run --name test-container workflow-ocr-backend-test && \
              docker cp test-container:/app/coverage .

      - name: Code Coverage Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage/coverage.xml
          badge: true
          fail_below_min: true
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: '60 80'

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: |
            coverage
            code-coverage-results.md
  
  # Note: harp tests need to run on a host where docker is available
  harp-integration-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Docker workflow
        id: docker_setup
        uses: ./.github/actions/docker-setup

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dev dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Run HaRP Docker Integration Tests
        run: make harp-integrationtest
